@import "tailwindcss";

:root {
  --background: #0c182e;
  --foreground: #e6ebff;
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #64ffda;
  --color-secondary: #101f3b;
  --color-accent: #8892b0;

  /* Fonts */
  --font-primary: var(--font-quicksand);
  --font-title: var(--font-title);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: QuickSand, Arial, Helvetica, sans-serif;
}

/********************************/
/* Custom Tailwind CSS Classes */
/********************************/

/* Base */
@layer base {
  h1 {
  }
  p {
  }
  button {
  }
}

/* Components */
@layer components {
  .card {
  }
}

/* Utilities */
/* you have to repeat the utilities here */

@utility flex_center {
  @apply flex justify-center items-center;
}
@utility flex_between {
  @apply flex justify-center items-center;
}
@utility animate_color {
  @apply transition-colors duration-300 ease-in;
}
